<a href="https://v3.vuejs-korea.org/ko-KR/" style="display: block; color: #f2f2f2; padding: .5rem 0 .5rem 0; text-align: center; font-weight: 500;">
  Vue.js 3가 출시되었습니다! 이 배너를 눌러 최신 버전 문서를 확인하세요.
</a>